.socials_sidebar {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

body {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

button {
    box-shadow: none !important;
}

body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.object_three > canvas:nth-child(1){
    transition: box-shadow ease-in-out .33s;
}

.my-masonry-grid_column {
    padding-left: 8px;
    background-clip: padding-box;
}

.my-masonry-grid {
    position: relative;
    width: auto;
    display: flex;
}

.my-masonry-grid_column > img {
    margin-bottom: 15px; /* space between items */
}

/*.object_three > canvas:nth-child(2){*/
/*    display: none !important;*/
/*    visibility: 0 !important;*/
/*  }*/